@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

section {
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 5rem;
  color: black;
  margin-bottom: 3rem;
}

.accordion-item {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.25);
}

.accordion-input {
  display: inline;
  width: 0;
  height: 0;
  margin: 0;
  appearance: none;
}

.accordion-label {
  display: flex;
  flex-direction: column;
}

.accordion-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

.accordion-title {
  margin: 0;
  font-weight: 700;
}

i {
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.accordion-summary .fa-minus {
  display: none;
}

.meme {
  display: none;
}

.mem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.meme-img {
  width: 75%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
